#ignored files
node_modules
yarn.lock
test.html
.DS_Store
lib/
src/templates/tests/html/*
src/templates/tests/__snapshots__/*
.idea
src/templates/tests/activityAssigned.test.js
src/templates/tests/courseApproved.test.js
src/templates/tests/courseAssigned.test.js
src/templates/tests/courseCertificate.test.js
src/templates/tests/courseReview.test.js
src/templates/tests/eventCertificateBuilder.test.js
src/templates/tests/firmInvite.test.js
src/templates/tests/invitation.test.js
src/templates/tests/registration.test.js
src/templates/tests/teamLead.test.js
src/templates/tests/trackAssigned.test.js
src/templates/tests/userCompliance.test.js
